.app-wrapper {
  border: 1px solid transparent;
  border-radius: 4px;
  width: 40%;
  .header {
    .logo-wrapper {
      width: 40%;
      .logo {
        width: 100px;
      }
    }
    h3 {
      flex: 1;
    }
  }
  .content {
    &-wrapper {
      .card-wrapper {
        width: 100%;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 25px 0;
        overflow: hidden;
        position: relative;
        .food-image {
          width: 100%;
          max-height: 400px;
          object-fit: cover;
          max-width: 1024px;
          display: block;
        }

        .image__overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.6);
          color: #ffffff;
          display: flex;
          font-family: "Quick sand", sans-serif;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          opacity: 0;
          transition: opacity 0.25s;
          cursor: pointer;
          &:hover {
            opacity: 1;
            > p {
              transform: translateY(0);
            }
          }
          > p {
            transform: translateY(20px);
            transition: transform 0.25s;
          }
        }
        .title {
          padding: 10px 20px;
        }
      }
    }
  }
}

.autoContainer {
  position: absolute;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  background-color: #efefef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  .option {
    padding: 0.375rem 0.75rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #000;
    transition: all .25s;
    &:last-child {
      border: 0;
    }
    &:hover {
      background: #007bff;
      color: white;
      cursor: pointer;
    }
  }
}

.custom-btn {
  min-width: 140px;
}

@media (max-width: 768px) {
  .app-wrapper {
    .header {
      flex-wrap: wrap;
      .left-col-wrapper,
      h5 {
        flex-basis: 100%;
      }
    }
  }
}
